// Document list
th {
  font-weight: 400;
}

@include media-breakpoint-down(md) {
  table {
    thead {
      display: none;
    }
    tbody {
      display: table;
      width: 100%;
    }

    tr {
      display: table-row-group;

      td {
        display: table-row;

        &:first-child {
          background-color: $color-grey-darker;
          text-align: right;

          &:before {
            text-align: left;
          }
        }

        &:before,
        > span {
          display: table-cell;
          padding: 7px 13px;
          border: 1px solid gray;
        }

        &:before {
          content: attr(data-label);
          font-weight: 600;
          font-style: italic;
          border-right: 1px solid transparent;
        }

        &:last-child {
          &:before {
            content: '';
            border-left: transparent;
            border-bottom: 1 solid;
          }
        }
      }
    }
  }
}
