// Define variables
@import '~@fortawesome/fontawesome-free/scss/_variables.scss';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

// Color
$color-navbar-icon: #d22c8f;
$color-excel-icon: #217346;
$color-grey: #f7f7f7;
$color-grey-darker: #d3d3d3;
