// Define variables
@import '~@fortawesome/fontawesome-free/scss/_variables.scss';
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

// Color
$navbar-icon-color: #d22c8f;
$excel-icon-color: #217346;
$color-grey: #f7f7f7;
$color-grey-darker: #d3d3d3;
