// Home page styles
@import 'master-page';

@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
@import '~bootstrap/scss/tables';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/modal';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/dropdown';

@import '../components/docs-list';
@import '../components/context-menu';

#home-page {
  i {
    &.icon-excel {
      color: $color-excel-icon;
    }
  }

  #doc-list {
    & > h1 {
      font-weight: 300;
    }

    .btn-new {
      margin: 10px 0;
    }
  }

  .hidden {
    display: none;
  }
}
